/* HeroDetailComponent's private CSS styles */
label {
  color: #435960;
  font-weight: bold;
}

.foto {
  border-style: solid;
  border-width: 2px;
  height: 300px;
  width: 300px;
  box-shadow: 15px 15px 10px rgba(67, 70, 71, 0.623);

}
input {
  font-size: 1em;
  padding: .5rem;
}
button {
  padding: .8rem;
  text-decoration: none;
  margin-top: 10px;
  margin-right: 10px;
  display: inline-block;
  background-color: #e8e8e8;
  color: #3d3d3d;
  border-radius: 4px;
}
button:hover {
  color: white;
  background-color: #42545C;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}





