
label {
  color: #435960;
  font-weight: bold;
}
input {
  font-size: .9em;
  padding: .4rem;
}
button {
  margin-top: 10px;
  background-color: rgba(63, 245, 145, 0.301);
  padding: 0.3rem;
  border-radius: 4px;
  font-size: 1rem;
}
button:hover {
  background-color: rgba(63, 245, 145, 0.541);
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
.button2 {
  margin-top: 10px;
  background-color: rgba(252, 0, 0, 0.301);
  padding: 0.3rem;
  border-radius: 4px;
  font-size: 1rem;
}

.button2:hover {
  background-color: rgba(252, 0, 0, 0.521);
}

