

 <div *ngIf="hero">

  <label for="hero-new-superpower">Nuevo superpoder: </label>
  <button type="button" (click)="addSuperpoder()">Añadir</button>

  <div *ngFor="let superpoder of hero.superpoderes;let index=index; trackBy:identify;">
    <input id="hero-superpower" [(ngModel)]="hero.superpoderes![index]" name="superpoder.{{index}}" placeholder="Superpoder">

    <button class="button2" (click)="deleteSuperpoder(superpoder)"> <fa-icon [icon]="faTrashCan"></fa-icon></button>
  </div>
</div>

